code, code pre {
    background-color: #666;

}

body {
    background:#f6f6f6 ;
    margin: 0px;
    padding: 0px;
	font-family: Arial, Helvetica, sans-serif;
}

.docs{
    background: #fff;
	font-size: 100%;
	color:#000;
    font-family: sans-serif;
	text-shadow: 0px 0px #267F00;

    border:2px solid;
    border-color: #a7d7f9;
    border-top: 0px;
    border-bottom: 0px;

    margin-right: 0px;
    margin-left: 170px;
    max-width: 1920px;

    width: auto;
}

@media only screen and (max-width:800px) {
        .docs{
            margin-left: 0px;
        }
}

.infobox {
    width:30%;
    max-width:1000px;
    float: right;

    border-collapse: collapse;
    border: 0p;
	vertical-align: top;
	text-align: left;
}

.infobox tr, td, th {
     border: 0;
}

@media only screen and (max-width:800px) {
        .infobox{
            float: none;
            width: auto;
        }
}


.infobox img{
    width:100%;
}

.docimg{
    height: 15em;
    text-align: right;
}

.docimg2{
    height: 300px;
    text-align: right;
}

.odd {
    background-color: #ddd;
}

.gold {
    background-color: #beb460;
}

.goldodd {
    background-color: #958c41;
}
