body {
    background:rgb(13, 14, 14) ;
    margin: 0px;
    padding: 0px;
	font-family: Arial, Helvetica, sans-serif;

    min-width: 360px;
}
a {
    color: blue;
}
a:visited { color: blue;}

.homeimg {
    src:"/img/stonerteam.png";
}
.navbar {
	margin-bottom: 0;
    border-bottom: 2px solid rgb(0, 213, 112);
}

.navbar nav {
	background: #111;
    	display: flex;
    	align-items: center;
}

.navbar nav img {
    height:25px;
}


.navbar nav p a {
    text-decoration: none;
	color:#FFFFFF;
    white-space: nowrap;
}

@media only screen and (max-width:600px) {
    .navbar nav p a {
        display: block;
    }
}

.navbar nav p a:hover{
text-decoration: underline;
}

.navbar nav p {
	margin-bottom: 0px;
    	margin-top: 0px;
    	color:#FFFFFF;
    	text-shadow: 2px 2px #267F00;
    	font-size: 30px;
    	padding: 24px;
	float:"right";
}

.content{
    margin-left: auto;
    margin-right: auto;
	margin-top: 0px;
    height: 100%;
	padding: 10px;
    /*background: #555;*/
	background: rgb(13, 14, 14);
	color:#FFFFFF;
	/*text-shadow: 1px 1px #267F00;*/
    max-width: 750px;
}

@media only screen and (max-width:800px) {
    .content {
        margin-left: 0px;
        margin-right: 0px;
    }
}

.content hr {
	background-color:#000000;
	height:2px;
}

table {
  border-collapse: collapse;
  width:100%;
  border: 1px solid rgb(140, 130, 115);
}

table, th, td {
	vertical-align: top;
	text-align: left;
}

td {
	word-wrap: break-word;
}

hr {
    margin: 64px;
    color: rgb(0, 213, 112);
}
