.modcategory {
      font-size: 48;
      font-family: Arial, Helvetica, sans-serif;
      margin:10px;
      border-left: 2px solid rgb(0, 213, 112) !important;
      padding-left: 15px;
}

.line-break {
  width: 100%;
}

.mod {

  align-items: center;
  margin-bottom: 10px;
  padding: 15px;

  position: relative;
  background-color: #111;
  border: 1px solid #fff;
  border-radius: 32px;
  margin: 10px 0;
  padding: 15px;
  box-shadow: 0 1px 3px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);

  min-width: 200px;
}

.mod table {
    border: none;
}

.mod img {
  border-radius: 32px;
  border: 2px solid transparent;
  width: 128px;
  margin-right: 16px;
}

@media only screen and (max-width:400px) {
    .mod img {
        display: none;
    }
}

.modinfo {
    margin: 0px;

    flex-wrap: initial;
    margin-left: auto;
    text-align: right;
}

.mod h2 {
  margin-bottom: 0px;
  flex-wrap: initial;
}

.mod h3 {
  margin-top: 0px;
  flex-wrap: initial;

}

.mod p {
  width: auto;
  flex-wrap: wrap;
  margin-top: 6px;
  margin-bottom: 6px;
}

.mod .moddownload {
  background-color: #267F00;
  border: 1px solid #000;
  border-radius: 10px;
  padding: 6px;
  display: inline-block;
  margin: 6px
  margin-left:0px;

}

.moddownload {
      margin-right: 16px;
}

.mod table {
    margin-bottom: 16px;
}

.mod .moddownload a {
  text-decoration: none;
  color:#FFFFFF;
}
