.caption, .caption tr, td {
    border : none;
};
}

.caption tr td {
    text-align: center;
}

.archive {
    border-collapse:separate;
    -border-radius:6px;
    text-align: right;

    background-color: #111;
}

.archive tr td, .caption tr td {
    border: none;

    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

.archive .title, .caption .title {
    width:auto;
}

.archive .author, .caption .author {
    width:200px;
    text-align: left;
}

.archive .version, .caption .version {
    width:50px;
    text-align: left;
}

.odd {
    background-color: #222;
}

@media only screen and (max-width:650px) {
    .archive .author, .caption .author, .archive .version, .caption .version {
        display: none;
    }
}

.description {

}
